Repository FTL-Hyperspace/FTL-Hyperspace, pull requests merged in 2025-08, with the labels that each got.

#630 Adds a fix for scaling SLUG_GEL augments
  CustomAugments.cpp
  CustomOptions.h
  FTLGameELF32.cpp
  FTLGameELF32.h
  FTLGameELF64.cpp
  FTLGameELF64.h
  FTLGameWin32.cpp
  FTLGameWin32.h
  Mod Files/data/hyperspace.xml
  Resources.cpp
  libzhlgen/test/functions/ELF_amd64/1.6.13/OuterHull.zhl
  libzhlgen/test/functions/ELF_amd64/FTLGameStripped.h
  libzhlgen/test/functions/ELF_x86/1.6.13/OuterHull.zhl
  libzhlgen/test/functions/ELF_x86/FTLGameStripped.ELF32.h
  libzhlgen/test/functions/win32/1.6.9/OuterHull.zhl
  libzhlgen/test/functions/win32/FTLGameStripped.h
Labels: enhancement, zhl, vanilla bug

#687 expose DrawEllipse function
  FTLGameELF32.cpp
  FTLGameELF32.h
  FTLGameELF64.cpp
  FTLGameELF64.h
  FTLGameWin32.cpp
  FTLGameWin32.h
  libzhlgen/test/functions/ELF_amd64/1.6.13/CSurface.zhl
  libzhlgen/test/functions/ELF_x86/1.6.13/CSurface.zhl
  libzhlgen/test/functions/win32/1.6.9/CSurface.zhl
  lua/modules/graphics.i
  wiki/Lua-Graphics-Module.md
Labels: documentation, enhancement, zhl, lua

#688 Expose more of customshipselect
  CustomShipSelect.h
  lua/modules/hyperspace.i
  wiki/Lua-Hyperspace-Module.md
Labels: documentation, enhancement, lua

#692 add GL_Texture vector template
  lua/modules/hyperspace.i
Labels: enhancement, lua
